/* FONTS */
$primary-font: 'Inter', 'Helvetica Neue', 'arial', sans-serif;
$rem-base: 16px;

$base-font-color: #5c5c5c;

/* BREAKPOINTS */
$break-to-mobile: 500px;
$break-to-tablet: 769px;
$break-to-desktop: 1025px;
$break-to-wider-desktop: 1340px;

